################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project.CSS.Revise/FileContentIndex/ed39f8ac-6528-4d2f-8212-0ba5c78a8e45.vsidx
/.vs/Project.CSS.Revise/DesignTimeBuild/.dtbcache.v2
*.vsidx
/.vs/Project.CSS.Revise/CopilotIndices/17.13.441.19478/CodeChunks.db-shm
/.vs/Project.CSS.Revise/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
