@* <div class="pt-4 px-2 px-md-3">
    <div class="row">
        <div class="job-filter mb-3 col-4">
            <label for="ddl_BUG_Partial_counter" class="form-label fw-bold">BUG</label>
            <select id="ddl_BUG_Partial_counter" class="form-control multi-select">
            </select>
        </div>
        <div class="job-filter mb-3 col-4">
            <label for="ddl_month_PROJECT_Partial_counter" class="form-label fw-bold">โครงการ</label>
            <select id="ddl_month_PROJECT_Partial_counter" class="form-control">
            </select>
        </div>
    </div>
</div> *@
