@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<style>
    .filter-control {
        min-height: 44.5px;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
    }

    .choices__inner {
        min-height: 38px !important;
        padding: 4px 8px !important;
        font-size: 0.875rem;
    }

    .choices__list--multiple .choices__item {
        font-size: 0.8rem;
        padding: 2px 6px;
    }

    .choices__list--dropdown .choices__item {
        font-size: 0.85rem;
    }

    .card-selected {
        border: 2px solid #0d6efd !important; /* Bootstrap primary blue */
        border-radius: 8px;
    }

</style>

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h4>Unit Furniture</h4>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">
                            <svg class="stroke-icon">
                                <use xlink:href="@Url.Content("~/assets/svg/icon-sprite.svg#stroke-home")"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">Unit Furniture</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>เฟอร์นิเจอร์ทั้งหมด 12 รายการ</h4>
            </div>
            <div class="card-body">
                <div class="position-relative">
                    <!-- Scroll buttons -->
                    <button class="btn btn-light position-absolute top-50 start-0 translate-middle-y z-1" id="scrollLeft">
                        &#8249;
                    </button>
                    <button class="btn btn-light position-absolute top-50 end-0 translate-middle-y z-1" id="scrollRight">
                        &#8250;
                    </button>

                    <!-- Scrollable wrapper -->
                    <div class="d-flex overflow-auto gap-3 px-5" id="productCarousel" style="scroll-behavior: smooth;">
                        <!-- Card item -->
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/beds-mattresses-bm001.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">เตียงนอน</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/textiles-tl001.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">ผ้าและสิ่งทอ</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/baby-children-bc001.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">สินค้าเด็ก</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/sofas-armchairs-700640.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">โซฟา</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/tables-chairs-fu002.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">เก้าอี้</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/desk-desk-chairs-fu004.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">โต๊ะทำงาน</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/rugs-mats-rm001.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">พรม</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/storage-organisation-st001.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">ที่จัดเก็บ</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/kitchenware-tableware-kt001.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">เครื่องครัว</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/lighting-li001.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">โคมไฟ</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/smart-home-hs001.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">สมาร์ทโฮม</small>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="text-decoration-none text-center">
                            <div class="card border-0" style="width: 120px;">
                                <img src="https://www.ikea.com/th/th/range-categorisation/images/product/food-beverages-fb001.jpeg?imwidth=160" class="card-img-top rounded" alt="...">
                                <div class="card-body p-2">
                                    <small class="text-dark">อาหาร</small>
                                </div>
                            </div>
                        </a>
                        <!-- Add more items as needed... -->
                    </div>
                </div>

                <!-- JavaScript to Scroll -->
                <script>
                    const carousel = document.getElementById("productCarousel");
                    document.getElementById("scrollLeft").onclick = () => {
                      carousel.scrollBy({ left: -150, behavior: "smooth" });
                    };
                    document.getElementById("scrollRight").onclick = () => {
                      carousel.scrollBy({ left: 150, behavior: "smooth" });
                    };

                    document.addEventListener("DOMContentLoaded", function () {
                        const cards = document.querySelectorAll("#productCarousel a");

                        cards.forEach(card => {
                            card.addEventListener("click", function (e) {
                                e.preventDefault(); // Optional: prevent page jump
                                this.querySelector(".card").classList.toggle("card-selected");
                            });
                        });
                    });

                </script>
            </div>
        </div>
    </div>
     <div class="col-12">
        <div class="card">
            <div class="card-header">
                <!-- Title Row -->
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="mb-0">รายการแปลง</h4>
                </div>

                <!-- Filter Row -->
                <div class="row mt-3 g-2">

                    <div class="col-md-5 col-sm-6">
                        <select id="projectSelect" class="form-control filter-control" multiple>
                            <option value="1">มารูน รัชดา</option>
                            <option value="2">เคฟ ป๊อป ศาลายา</option>
                            <option value="3">เคฟ วันเดอร์แลนด์</option>
                            <option value="4">เคฟ ลูมินัส บางมด</option>
                            <option value="5">แอทโมซ เดอ โซล ทิพวัล สเตชั่น</option>
                            <option value="6">เคฟ เอ็มบริโอ รังสิต</option>
                            <option value="7">แอทโมซ แคนวาส ระยอง</option>
                            <option value="8">เคฟ ทาวน์ ไอส์แลนด์</option>
                            <option value="9">โมดิซ โวยาจ ศรีนครินทร์</option>
                            <option value="10">เคฟ ซี๊ด เกษตร</option>
                            <option value="11">แอทโมซ ซีซั่น ลาดกระบัง</option>
                            <option value="12">โมดิซ วอลท์ เกษตร - ศรีปทุม</option>
                            <option value="13">แอทโมซ พาลาซิโอ ลาดพร้าว-วังหิน</option>
                        </select>
                    </div>

                    <!-- Search Input -->
                    <div class="col-md-3 col-sm-6">
                        <input type="text" class="form-control filter-control" placeholder="Search units...">
                    </div>

                    <!-- Category Filter -->
                    <div class="col-md-3 col-sm-6">
                        <input type="text" class="form-control filter-control" placeholder="Search types...">
                    </div>

                    <!-- Search Button -->
                    <div class="col-md-1 col-sm-6">
                        <button type="button" class="btn btn-primary btn-sm w-100 filter-control">
                            Search
                        </button>
                    </div>

                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped align-middle text-center">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="text-center">
                                    <input class="form-check-input" type="checkbox" id="checkAll">
                                </th>
                                <th scope="col">Unit Detail</th>
                                <th scope="col">Furniture</th>
                                <th scope="col">Check Status</th>
                                <th scope="col">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <input class="form-check-input row-check" id="flexCheckCheckedA001" type="checkbox" checked>
                                </td>
                                <td class="text-center">
                                    เคฟ เพลย์กราวด์ ลาดพร้าว-บดินทรเดชา
                                    <small class="d-block">Condo / Unit: B105 / Type: A1B</small>
                                </td>
                                <td class="text-center">1</td>
                                <td class="text-center">Pass</td>
                                <td class="text-center">
                                    <i class="icofont icofont-user"></i> พนิดา อินทร์แก้ว
                                    <small class="d-block mt-1">
                                        <i class="icofont icofont-calendar"></i> 12/05/2025
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <input class="form-check-input row-check" id="flexCheckCheckedA002" type="checkbox">
                                </td>
                                <td class="text-center">
                                    เดอะ โมนูเมนต์ สนามเป้า
                                    <small class="d-block">Condo / Unit: A302 / Type: 2BR</small>
                                </td>
                                <td class="text-center">3</td>
                                <td class="text-center">Waiting</td>
                                <td class="text-center">
                                    <i class="icofont icofont-user"></i> วรากร อนันต์
                                    <small class="d-block mt-1">
                                        <i class="icofont icofont-calendar"></i> 10/05/2025
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <input class="form-check-input row-check" id="flexCheckCheckedA003" type="checkbox" checked>
                                </td>
                                <td class="text-center">
                                    เดอะ ไลน์ จตุจักร-หมอชิต
                                    <small class="d-block">Condo / Unit: C701 / Type: 1A</small>
                                </td>
                                <td class="text-center">2</td>
                                <td class="text-center">Pass</td>
                                <td class="text-center">
                                    <i class="icofont icofont-user"></i> ศรุตา แสงทอง
                                    <small class="d-block mt-1">
                                        <i class="icofont icofont-calendar"></i> 11/05/2025
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <input class="form-check-input row-check" id="flexCheckCheckedA004" type="checkbox">
                                </td>
                                <td class="text-center">
                                    โนเบิล รีวอลฟ์ รัชดา
                                    <small class="d-block">Condo / Unit: D509 / Type: Studio</small>
                                </td>
                                <td class="text-center">0</td>
                                <td class="text-center">Failed</td>
                                <td class="text-center">
                                    <i class="icofont icofont-user"></i> ธีรภพ มีศรี
                                    <small class="d-block mt-1">
                                        <i class="icofont icofont-calendar"></i> 09/05/2025
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <input class="form-check-input row-check" id="flexCheckCheckedA005" type="checkbox">
                                </td>
                                <td class="text-center">
                                    แอชตัน จุฬา-สีลม
                                    <small class="d-block">Condo / Unit: E210 / Type: 1B</small>
                                </td>
                                <td class="text-center">1</td>
                                <td class="text-center">Waiting</td>
                                <td class="text-center">
                                    <i class="icofont icofont-user"></i> นภัสสร ลิ้มธนสาร
                                    <small class="d-block mt-1">
                                        <i class="icofont icofont-calendar"></i> 08/05/2025
                                    </small>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-end">
                                    <button class="btn btn-success btn-sm" id="btn-save-unit">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
            new Choices('#projectSelect', {
                placeholderValue: 'เลือกโครงการ',
                removeItemButton: true, // Show "X" to remove selected items
                searchEnabled: true,
                itemSelectText: '',
                shouldSort: false
            });
        });
</script>