@{
    ViewData["Title"] = "No Permission";
}
<div class="container py-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading">No Permission</h4>
        <p>You don’t have access to this page</p>
    </div>
</div>
